html,
body {
  height: 100%;
}

.user-img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
}

.contenedor-secciones {
  margin: 20px;
}

.seccion {
  flex-basis: 50%;
  margin: 5px;
}

/* Estilos para la sección 3 */
#seccion-3 {
  clear: both;
  margin: 10px;
}

.form-group {
  padding: 5px;
}

.form-group-actions {
  margin: 10px;
}
